<div class="col-md-8">
    <nb-card>
        <nb-card-header>Add Movie</nb-card-header>
        <nb-card-body>
          <div class="input-group">
            <input type="text" placeholder="Media Name" class="form-control"/>
          </div>
          <div class="input-group">
              <label for="media_image">Media Image</label>
          </div>
          
          <div class="input-group">
            
              <input type="file" placeholder="image" name="media_image" class="form-control"/>
            </div>
          
            <div class="input-group">
                <input type="textarea" placeholder="Project" class="form-control"/>
              </div>
              
              <div class="input-group">
                  <input type="dropdown" placeholder="Category" class="form-control"/>
                </div>

                <div class="input-group">
                    <input type="file" placeholder="MP4 Flie" class="form-control"/>
                  </div>
                  <button class="btn btn-hero-secondary">
                    Submit
                  </button>
                
          
          
        </nb-card-body>
      </nb-card>
</div>
